.first-news-image {
  width: 180px;
  background-size: contain;
  margin-right: 25px;
}

.custom-flex-section {
  padding-bottom: 26px;
  border-bottom: 1px solid mat-color($grey-palette, 400);
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media #{$mobile-only-query} {
  .custom-flex-section {
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
  }

  .first-news-image {
    height: 50px;
    width: 130px;
    margin-left: 30px;
  }
}
