<div class="mat-display-3 ">Latest News</div>

<section class="stark-section custom-flex-section">
	<img src="/assets/stark-core/logo/stark_logo_black.png" class="first-news-image"/>
	<news-item [release]="'10.0.0-beta.0'" [newsDate]="'27/09/2018'">
		<h2 class="news-item-title">A very happy occasion</h2>
		<div class="news-item-content">
			<p>Stark Logo was born this week! </p>
			<p>Let's all make a round of applause for our java consultant, Maxime, who had the good idea to mix
				Angular's pretty logo with the name of our project! </p>
		</div>
	</news-item>
</section>
